*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

    height: 100vh;


    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    background-image:url('../assets/background.png');
    background-size: cover;

    width: 414px;
    height: 736px;

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    color:white;
    align-self: flex-start;
    justify-self: flex-start;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
}

.userBar :hover {

    color: #06d106;
    cursor: pointer;
}

#userSession{
    margin-left:10px;
}

.titleMenu{
 margin-bottom:30px;
-webkit-text-stroke-width: 0.2px;
-webkit-text-stroke-color: #06d106;

}

table{

    padding:10px;

    box-sizing: border-box;
}

.td2{
    text-align: center;
}

.menu{
    width: 90%;

    display:grid;
    grid-template: repeat(2,170px)/repeat(2,170px);
    gap:15px;

    align-content: center;
    justify-content: center;
}

.opt{
  display:inline-block;
  width: 150px;
  height: 150px;
  margin:10px;
  background-color: #06d106;

  display:flex;
  align-items: center;
  justify-content: center;

  border-radius:20px;

  cursor: pointer;

}

.opt:hover{
    opacity:0.8;
}

img{
    width: 100px;
}

p{
    color:white;
}

.training, .profile, .diet{
    background-color: #363636;

    width: 414px;
    height: 736px;

    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    

    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.back{
    margin-top:10%;

    width: 70px;
    padding: 20px;

    border-radius: 50px;

    border: none;
    outline: none;

    cursor:pointer;

    background-color:#06d106;

    color:white;
    font-size: 25px;
}

.back:hover{opacity:0.5;}
