*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

    height: 100vh;

    background-color:black;

}

.container{
    background-image:url('../assets/background.jpg');
    background-size: cover;

    width: 414px;
    height: 736px;

    display:flex;
    align-items: center;
    justify-content: center;

}
.menu{
    width: 90%;

    display:grid;
    grid-template: repeat(2,150px)/repeat(2,150px);
    gap:15px;

    align-content: center;
    justify-content: center;
}

.opt{
  display:inline-block;
  width: 150px;
  height: 150px;
  margin:10px;
  background-color: #06d106;

  display:flex;
  align-items: center;
  justify-content: center;

  border-radius:20px;

  cursor: pointer;
}
img{
    width: 100px;
}

p{
    color:white;
}

.training, .profile, .diet{
    background-color: #363636;

    width: 414px;
    height: 736px;

    position:absolute;
    left:0;
    top:0;

    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.back{
    margin-top:10%;

    width: 70px;
    padding: 20px;

    border-radius: 50px;

    border: none;
    outline: none;

    cursor:pointer;

    background-color:#06d106;

    color:white;
    font-size: 25px;
}
