*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    
    height: 100vh;

    background-color:black;

}

.container{
    background-image:url('../assets/background3.jpg');
    background-size: cover;
   

    width: 414px;
    height: 736px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.create{
    max-width: 95%;
    margin:auto;

    background-color:#00000075;

    padding: 30px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius:20px;
}

p{
    color:white;
     margin-top:10%;
     margin-bottom:5%;

     font-size: 17px;
 
}

input {
    width: 100%;
    height: 40px;
    padding: 10px;

    box-sizing: border-box;

    font-size: 15px;

    outline: none;
    border:none;
    background-color:#2ff75a00;
   
    color:white;

    border-bottom: 2px solid #06d106;
}

::placeholder{
    color:#ffffff88;
    font-size: 15px;
}


#create_user , #back{
    margin-top:10%;

    width: 80%;
    padding: 20px;

    border-radius: 50px;

    border: none;
    outline: none;

    cursor:pointer;

    background-color:#06d106;

    color:white;
    font-size: 15px;
}


